<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

    <button mat-button routerLink="/currency-convertor">Currency Convertor</button><!--
    <button mat-button routerLink="/dashboard">Dashboard</button>
    -->
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <!--<button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  <button mat-menu-item>Help</button>-->
</mat-menu>

  <app-search-journey></app-search-journey>


<div class="container">
  <div class="three">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--<button mat-raised-button color="primary" (click)="getJourneys()">Get Price</button>-->

  <app-reservations></app-reservations>

<!--

<mat-form-field>
  <input matInput placeholder="Place name"  [(ngModel)]="place">
</mat-form-field>
<mat-card>
    <button mat-raised-button color="primary" (click)="getPlaces()">Get Places</button>
  <div class="container">
  <mat-select placeholder="Places">
    <mat-option *ngFor="let place of places">
      {{ place.name }}
    </mat-option>
  </mat-select>
  <p>Amount converted is : {{amount}}</p>
  </div>

</mat-card>-->
